.speech
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 15px;
}
.direction
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 12px;
    background-color: rgb(0, 0, 0);
}
.direction:hover {
    background-color: rgb(24, 169, 169);
    color: rgba(128, 128, 128, 0.584);
  }
.imp
{   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(150, 22, 22);
}
.judge
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(17, 46, 125);
}
.poorman
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(66, 132, 9);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #8b75bc;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #365e60;
  }
  .imp:hover {
    background-color: rgb(20, 110, 137);
    color: rgb(177, 18, 18);
    border-style: double;
    border-left: 10px solid rgb(110, 40, 36);
    }
.poorman:hover {
    background-color: rgb(3, 82, 42);
    color: rgb(92, 43, 100);
    border-style: double;
    border-left: 10px solid rgb(59, 134, 57);
    }
.judge:hover {
        background-color: rgba(22, 37, 13, 0.293);
        color: rgb(34, 100, 141);
        border-style: double;
        border-left: 10px solid rgb(85, 255, 55);
        }

        ul.navbar-horizontal 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li 
{
    float:left; 
    color:#7d0c0c;
    background-color: #15a60e
}
ul.navbar-horizontal a 
{
    display:block;
    padding:8px
}
ul.navbar-horizontal a:hover 
{  
    background-color: #540846;
    color:rgba(217, 38, 38, 0.047);
}